@keyframes skeleton-loading {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}

.skeleton {
  background: linear-gradient(
    90deg,
    rgba(30, 41, 59, 0.4) 0%,
    rgba(51, 65, 85, 0.6) 50%,
    rgba(30, 41, 59, 0.4) 100%
  );
  background-size: 200px 100%;
  animation: skeleton-loading 1.5s ease-in-out infinite;
  border-radius: 0.375rem;
}

.skeleton-icon {
  background: linear-gradient(
    90deg,
    rgba(20, 184, 166, 0.1) 0%,
    rgba(20, 184, 166, 0.2) 50%,
    rgba(20, 184, 166, 0.1) 100%
  );
  background-size: 200px 100%;
  animation: skeleton-loading 1.5s ease-in-out infinite;
}

.skeleton-text {
  display: inline-block;
  border-radius: 0.25rem;
}
